<% subjects ||= [] %>
<ul class="nav navbar-nav">
  <li class="active">
    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
  </li>
  <% subjects.each do |subject| %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> <%= subject.name %> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% subject.review_categories.visible.each do |category| %>
          <li><%= link_to(category.name, {:controller => 'review_categories', :action => 'show'}) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>